version: 1.0.{build}
configuration: Release

environment:
  TestDb: Server=(local)\SQL2016;Database=efrepositorytest;User ID=sa;Password=Password12!
  SONAR_TOKEN:
    secure: obPgeJ9AhOuWX6WhYKEQGKxiiMT6nZZbPrHnIKRPr9vE1Mg1BHv2TxBrgHBUPjGG
  GITHUB_EMAIL: rwk0119@yahoo.com.tw
  GITHUB_USERNAME: kirkchen
  GITHUB_TOKEN:
    secure: 2twQhN/Fz0V2Bff+6mTbEgDzq0LFtGq5ydBmGvGEJG6Lv2jN3nOi+cgfQO0NsZwL

services:
  - mssql2016

matrix:
  fast_finish: true

cache:
  - C:\Users\appveyor\AppData\Local\NuGet\Cache

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "1.0.{build}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"

install:
  - cinst msbuild-sonarqube-runner
  - cinst pickles

before_build:
  - nuget restore
  - ps: if (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER -And $env:APPVEYOR_REPO_BRANCH -eq "master") { .\tools\build.bat } 
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER) { .\tools\buildpullrequest.bat }

build:
  parallel: true
  publish_wap: true
  verbosity: minimal
  project: EFRepository.sln

test_script:  
  - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:vstest.console.exe -targetargs:"/logger:Appveyor EFRepository.Tests\bin\Release\EFRepository.Tests.dll" -output:CodeCoverage.xml

after_test:
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -Or $env:APPVEYOR_REPO_BRANCH -eq "master") { .\tools\buildfinish.bat }
  - ps: if ($env:APPVEYOR_REPO_BRANCH -eq "develop") { .\tools\packPrereleaseNuget.bat }
  - ps: if ($env:APPVEYOR_REPO_TAG -eq "true") { .\tools\packNuget.bat }
  - ps: if ($env:APPVEYOR_REPO_BRANCH -eq "master") { .\tools\generateDocs.bat } 
  - ps: if ($env:APPVEYOR_REPO_BRANCH -eq "master") { .\tools\pushDocs.ps1 $env:APPVEYOR_BUILD_FOLDER $env:GITHUB_EMAIL $env:GITHUB_USERNAME $env:GITHUB_TOKEN }

artifacts:
  - path: 'KirkChen.EFRepository*.nupkg'

deploy:
  - provider: NuGet  
    api_key:
      secure: P4/mzIswMzqvWjuucHnGxP5duV/aBk7AnsQpCKp6R+ztVxfRocPsB5dVIIt24OGE
    skip_symbols: true  
    artifact: /.*\.nupkg/  
    on:            
      appveyor_repo_tag: true

  - provider: NuGet  
    api_key:
      secure: P4/mzIswMzqvWjuucHnGxP5duV/aBk7AnsQpCKp6R+ztVxfRocPsB5dVIIt24OGE
    skip_symbols: true  
    artifact: /.*\.nupkg/  
    on:
      branch:       
        - develop        